html {
    scroll-behavior: smooth;
}

body {
    background-color: silver;
    font-family: poppins, sans-serif;
}

.content {
    background-color: white;
    margin: auto;
    width: 800px;
    padding: 10px 35px;
}

code {
    background-color: whitesmoke;
    padding: 3px;
    font-weight: bold;
    border-radius: 3px;
}

.deskripsi p code span {
    color: green;
}

.deskripsi ul li {
    margin-bottom: 8px;
}

.deskripsi ul li a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.deskripsi ul li a:hover {
    text-decoration: underline;
}

.ex h3 {
    color: green;
}

pre {
    background-color: whitesmoke;
    padding: 15px 15px;
    width: auto;
    border: 1px solid gainsboro;
    border-radius: 8px;
}

.contoh1,
.contoh2,
.contoh3,
.contoh4,
.contoh5,
.contoh6,
.contoh7,
.contoh8,
.contoh9,
.contoh10,
.contoh11,
.contoh12,
.contoh13,
.contoh14,
.contoh15,
.contoh16,
.contoh17,
.contoh18,
.contoh19,
.contoh20,
.contoh21,
.contoh22,
.contoh23,
.contoh24 {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    margin: 30px auto;
    transition: 1s;
}

.contoh1:hover {
    transform: scale(1.2);
}

.contoh2:hover {
    transform: scaleX(1.5);
}

.contoh3:hover {
    transform: scaleY(1.2);
}

.contoh4:hover {
    transform: scale(1.5, 1.2);
    /* or
    transform: scaleX(1.5) scaleY(1.2);
     */
}

.kurung1,
.kurung2 {
    width: 320px;
    box-sizing: border-box;
    display: inline-block;
    /* border: 1px solid black; */
}

.kurung2 {
    margin-left: 70px;
}

.contoh5:hover {
    transform: rotate(45deg);
}

.contoh6:hover {
    transform: rotate(-45deg);
}

.contoh7:hover {
    transform: rotateX(90deg);
}

.contoh8:hover {
    transform: rotateX(180deg);
}

.contoh9:hover {
    transform: rotateY(90deg);
}

.contoh10:hover {
    transform: rotateY(180deg);
}

.contoh11:hover {
    transform: rotateX(180deg) rotateY(180deg);
}

.contoh12:hover {
    transform: scale(1.2) rotate(180deg);
}

.contoh13:hover {
    transform: skew(30deg);
}

.contoh14:hover {
    transform: skew(-30deg);
}

.contoh15:hover {
    transform: skewY(30deg);
}

.contoh16:hover {
    transform: skewY(-30deg);
}

.contoh17:hover {
    transform: skew(30deg, 20deg);
}

.contoh18:hover {
    transform: skew(-30deg) rotate(180deg) scale(1.2);
}

.contoh19:hover {
    transform: translate(100px);
}

.contoh20:hover {
    transform: translate(-100px);
}

.contoh21:hover {
    transform: translateY(50px);
}

.contoh22:hover {
    transform: translateY(-50px);
}

.contoh23:hover {
    transform: translate(100px, 30px);
}

.contoh24:hover {
    transform: translate(-100px) skew(30deg) rotate(180deg);
}

.space {
    margin-top: 60px;
}