body {
    font-family: poppins, sans-serif;
    background-color: whitesmoke;
}

.navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: salmon;
    z-index: 99999;
}

.navbar ul {
    margin-left: 35%;
    margin-top: 12px;
}

.navbar ul li {
    display: inline-block;
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: purple;
    transition: 0.3s;
    text-decoration: none;
}

.content {
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.macam h3 {
    font-weight: normal;
    margin-bottom: -10px;
}

.macam h4 {
    font-size: 18px;
}

.sudut-1,
.sudut-2,
.sudut-3,
.sudut-4,
.sudut-5,
.sudut-6,
.sudut-7,
.sudut-8 {
    border: 5px solid whitesmoke;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}


.contoh {
    background-image: linear-gradient(red, #f0d606, rgba(255, 255, 0, 1), green);
}

.contoh-1 {
    background-image: linear-gradient(red, blue);
}

.contoh-2 {
    background-image: linear-gradient(90deg, red, blue);
}

.contoh-3 {
    background-image: linear-gradient(-45deg, red, blue);
}

.contoh-4 {
    background-image: linear-gradient(to top, red, blue);
}

.contoh-5 {
    background-image: linear-gradient(to left bottom, red, blue);
}

.contoh-6 {
    background-image: linear-gradient(to right, red 63%, blue 80%);
}

.contoh-7 {
    background-image: linear-gradient(to bottom, red, blue);
}

.contoh-8 {
    background-image: linear-gradient(to left, red, blue);
}

.contoh-9 {
    background-image: linear-gradient(to right, red, blue);
}

.contoh-10 {
    background-image: linear-gradient(to left top, red, blue);
}

.contoh-11 {
    background-image: linear-gradient(to right top, red, blue);
}

.contoh-12 {
    background-image: linear-gradient(to right top, red, blue);
}

.contoh,
.contoh-1,
.contoh-2,
.contoh-3,
.contoh-4,
.contoh-5,
.contoh-6,
.contoh-7,
.contoh-8,
.contoh-9,
.contoh-10,
.contoh-11,
.contoh-12,
.radial-1,
.radial-2,
.radial-3,
.radial-4,
.radial-5,
.radial-6,
.radial-7,
.radial-8,
.radial-9,
.radial-10 {
    width: 600px;
    height: 300px;
    margin: auto;
}

.radial-1 {
    background-image: radial-gradient(red, blue);
}

.radial-2 {
    background: radial-gradient(red, blue, green, yellow);
}

.radial-3 {
    background: radial-gradient(red 10%, blue 20%, green 80%)
}

.radial-4 {
    background: radial-gradient(ellipse, red, blue);
}

.radial-5 {
    background: radial-gradient(circle, red, blue);
}

.radial-6 {
    background: radial-gradient(circle closest-corner, red, blue);
}

.radial-7 {
    background: radial-gradient(circle closest-side, red, blue);
}

.radial-8 {
    background: radial-gradient(circle farthest-corner, red, blue);
}

.radial-9 {
    background: radial-gradient(circle farthest-side, red, blue);
}

.radial-10 {
    background: radial-gradient(circle farthest-side at top left, red, blue);
}

pre {
    width: fit-content;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
}

ul li a {
    text-decoration: none;
    color: salmon;
}

ol li a {
    text-decoration: none;
    color: salmon;
}

ul li a:hover {
    text-decoration: underline;
}

ol li a:hover {
    text-decoration: underline;
}