body {
    font-family: poppins, sans-serif;
    background-color: slateblue;
}

.content {
    margin: auto;
    width: 1000px;
    background-color: white;
    padding: 20px;
}

code {
    background-color: whitesmoke;
    display: block;
    width: fit-content;
}

.class {
    background-color: rgba(red, green, blue, alpha);
}

.ket {
    list-style: none;
    background-color: whitesmoke;
    font-size: 13px;
    width: 300px;
}

.ket h4 {
    margin-bottom: 5px;
}

.satu {
    width: 300px;
    height: 300px;
    background-color: rgba(250, 128, 114, 0.5);
    position: relative;

}

.dua {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: -50px;
    bottom: -50px;
}

.pembungkus {
    width: 400px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    background-image: url(moroccan-flower.png);
    border-radius: 10px;
}

.script {
    position: absolute;
    top: 50px;
    right: 20px;
    margin-top: 0px;
    border: 5px solid hsl(0, 0%, 88%);
    padding: 0 10px;
    border-radius: 10px;
}

pre {
    width: fit-content;
    background-color: whitesmoke;
    padding: 10px;

}

.pembungkus-1 {
    width: 840px;
    height: 400px;
    position: relative;
    border: 5px solid hsl(0, 0%, 88%);
    border-radius: 10px;
    padding: 20px;
}

.satu-1 {
    width: 300px;
    height: 300px;
    background-color: hsla(24, 100%, 68%, 0.5);
    position: relative;

}

.dua-1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: -50px;
    bottom: -50px;
}